/** Post **/

.post-extra {
  color: var(--lightgray);
  margin-bottom: 1em;
  padding: 1em 1em;
  font-weight: bold;
}

.post-main-image {
  margin-bottom: 2em;
  width: var(--reading-text-width);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.post-main-image a[href].post-tag:hover,
.post-main-image a[href].post-tag:focus {
  background-color: var(--darkgray);
}

.post-main-image img {
  max-width: 100%;
}

.post-title-gradient {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 300px;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
}

.post-title-image {
  width: 100%;
  color: var(--white);
  margin: 0;
  padding: 1em 0.5em 0;
  line-height: 1.5em;
}

/* Tags */
.post-tag {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.625em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

#refs div {
  margin-top: 2em;
}

#refs a {
word-break: break-all;
}
.blog-image-right {
  width: 90vw;
}

.blog-image-left {
  width: 90vw;
}

main img { 
    max-width: 100%;
    height: auto;
}

.pipeline-stages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.pipeline-stages > .pointer {
  font-size: 1.5rem;
}

.pipeline-stages > div > code {
  font-size: 1.25rem;
}

.pipeline-stages > div > .number {
  font-size: 1.25rem;
  color: var(--grayer);
  text-align: center;
}

.osm-data-types {
  display: flex;
  gap: 2em;
  margin-bottom: 1em;
}

.osm-data-types > div {
  flex-grow: 1;
  min-width: 10%;
}