/** Post **/

.post-extra {
  color: var(--lightgray);
  z-index: 101;
  position: absolute;
  bottom: 0px;
  margin-bottom: 1em;
  padding: 30px 35px 0px;
  font-weight: bold;
}

.post-main-image {
  margin-bottom: 2em;
  position: relative;
  width: var(--reading-text-width);
  width: 100%;
  height: 300px;
  overflow-y: hidden;
  background-size: cover;
}

.post-main-image a[href].post-tag:hover,
.post-main-image a[href].post-tag:focus {
  background-color: var(--darkgray);
}

.post-main-image img {
  max-width: 100%;
}

.post-title-image {
  width: 100%;
  color: var(--white);
  margin-bottom: 0px;
  padding: 40px 35px 45px;
  position: absolute;
  bottom: 0px;
  z-index: 100;
  line-height: 1.5em;
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 100%);
}

/* Tags */
.post-tag {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.625em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

#refs div {
  margin-top: 2em;
}

#refs a {
word-break: break-all;
}
.blog-image-right {
  width: 90vw;
}

.blog-image-left {
  width: 90vw;
}

main img { 
    max-width: 100%;
    height: auto;
}